/* TAG */

body {
  background-color: rgb(253, 251, 251);
}

a {
  text-decoration: none;

}

table {
  background-color: green;
  border-color: black;
  color: white;
  max-width: 100%;
  margin: auto;

}

/* ID */

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: green;
  text-align: center;
  padding: 20px 0px 0px;
  color: white;
}

#cabecalho ul {
  list-style: none;

}

#minha_foto {
  padding: ;
  margin-top: 200px;

}

#licoes_a_aprender {
  display: inline-block;

}

#licoes_aprendidas {
  display: inline-block;

}

#rodape {

  font-style: italic;
  font-family: monospace;
  font-size: 15px;
  line-height: 20px;

}

/* CLASS */

.menu a {
  color: white;

}

.menu {
  text-align: left;
  padding: 10px 50px;
  margin: 10px;

}

.lado-direito {
  border: 1px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin: 0;
  padding: 2px;
  width: 39%;

}

.lado-esquerdo {
  border: 1px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin: 0;
  padding: 2px;
  width: 60%;

}
